.App {
    font-family: 'Montserrat', sans-serif;
}

.mobile {
    display: none;
}

@media (max-width:600px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}