.tamanho-labels {
    display: block;
}

.tamanhos-botoes {
    margin-top: 10px;
    margin-bottom: 20px;
}

.tamanho-selecionado {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #5F75AA;
}

.label-tamanho {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #202020;
}

.guia {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    transition: 0.5s;
    color: #DE8F75;
}

.guia:hover {
    color: #FF0148;
}